<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="container-team">
      <div class="h1-concept">
        <h1 class="h1-concept"> NOTRE CONCEPT </h1>
        <p class="lead-concept">Il n'a jamais été aussi facile de savoir ce que vous allez manger ! </p>
      </div>
      <div class="row-concept">
        <div class="card-concept">
          <div class="card-inner-concept">
            <div class="card-front-concept">
              <p class="text-card-concept">CURIEUX ?</p>
            </div>
            <div class="card-back-concept">
              <p class="text-card-concept">Tous les Menus de vos restaurants favoris à disposition.</p>
            </div>
          </div>
        </div>

        <div class="card-concept">
          <div class="card-inner-concept">
            <div class="card-front-concept1">
              <p class="text-card-concept">PETIE FAIM ? </p>
            </div>
            <div class="card-back-concept1">
              <p class="text-card-concept">Réservez une table en 5 minutes !</p>
            </div>
          </div>
        </div>

        <div class="card-concept">
          <div class="card-inner-concept">
            <div class="card-front-concept">
              <p class="text-card-concept">SATISFAITS ?</p>
            </div>
            <div class="card-back-concept">
              <p class="text-card-concept">Laissez-nous un commentaire pour nous le dire !</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>