<% content_for :title, "Concept" %>

<div class="container-team">
  <div class="h1-concept">
    <h1 class="h1-concept"> NOTRE CONCEPT </h1>
    <p class="lead-concept"> Il n'a jamais été aussi simple de trouver ce que vous allez manger </p>
  </div>
  <div class="row-concept d-flex flex-wrap">
    <div class="card-concept">
      <div class="card-inner-concept">
        <div class="card-front-concept">
          <p class="text-card-concept">CURIEUX ?</p>
        </div>
        <div class="card-back-concept">
          <p class="text-card-concept">Des menus à votre disposition par ville et par type de nourriture</p>
        </div>
      </div>
    </div>

    <div class="card-concept">
      <div class="card-inner-concept">
        <div class="card-front-concept1">
          <p class="text-card-concept">AFFAMÉS ? </p>
        </div>
        <div class="card-back-concept1">
          <p class="text-card-concept">Réservez une table en moins de 5 minutes</p>
        </div>
      </div>
    </div>

    <div class="card-concept">
      <div class="card-inner-concept">
        <div class="card-front-concept">
          <p class="text-card-concept">SATISFAITS ?</p>
        </div>
        <div class="card-back-concept">
          <p class="text-card-concept">Laissez un commentaire au restaurant</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="btt">
  <a href="#">
    <button class="button-btt">
      <svg class="svgIcon" viewBox="0 0 384 512">
        <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"></path>
      </svg>
    </button>
  </a>
</div>