<div class="container-team">
  <div class="h1-concept">
    <h1 class="h1-concept"> NOTRE CONCEPT </h1>
    <p class="lead-concept"> Il n'a jamais été aussi simple de trouver ce que vous allez manger </p>
  </div>
  <div class="row-concept">
    <div class="card-concept">
      <div class="card-inner-concept">
        <div class="card-front-concept">
          <p class="text-card-concept">CURIEUX ?</p>
        </div>
        <div class="card-back-concept">
          <p class="text-card-concept">Des menus à votre disposition par ville et par type de nourriture</p>
        </div>
      </div>
    </div>

    <div class="card-concept">
      <div class="card-inner-concept">
        <div class="card-front-concept1">
          <p class="text-card-concept">AFFAMÉS ? </p>
        </div>
        <div class="card-back-concept1">
          <p class="text-card-concept">Réservez une table en moins de 5 minutes</p>
        </div>
      </div>
    </div>

    <div class="card-concept">
      <div class="card-inner-concept">
        <div class="card-front-concept">
          <p class="text-card-concept">SATISFAITS ?</p>
        </div>
        <div class="card-back-concept">
          <p class="text-card-concept">Laissez un commentaire au restaurant</p>
        </div>
      </div>
    </div>
  </div>
</div>