<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="container-team">
      <div class="h1-concept">
        <h1 class="h1-concept"> OUR CONCEPT </h1>
        <p class="lead-concept"> It has never been easier to find what you are going to eat </p>
      </div>
      <div class="row-concept">
        <div class="card-concept">
          <div class="card-inner-concept">
            <div class="card-front-concept">
              <p class="text-card-concept">CURIOUS ?</p>
            </div>
            <div class="card-back-concept">
              <p class="text-card-concept">Menus at your disposal by city and type of food</p>
            </div>
          </div>
        </div>

        <div class="card-concept">
          <div class="card-inner-concept">
            <div class="card-front-concept1">
              <p class="text-card-concept">HUNGRY ? </p>
            </div>
            <div class="card-back-concept1">
              <p class="text-card-concept">Book a table in less than 5 minutes</p>
            </div>
          </div>
        </div>

        <div class="card-concept">
          <div class="card-inner-concept">
            <div class="card-front-concept">
              <p class="text-card-concept">SATISFIED ?</p>
            </div>
            <div class="card-back-concept">
              <p class="text-card-concept">Leave a comment to help us grow</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>