<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="box_orange">
      <section class="left_bloc">
        <h1 class="h1-contact"> NOUS CONTACTER </h1>
        <p class="p-contact"> Vous avez une question ?</p>
        <p class="p-contact"> Vous trouverez toutes nos informations de contact ci-dessous !</p>
        <p class="p-contact"> Sinon, veuillez compléter le formulaire.</p>
        <p class="p-contact"> <i class="fa-regular fa-building"></i> Adresse fictive </p>
        <p class="p-contact"> <i class="fa-solid fa-phone"></i> +33 4 95 27 19 07 </p>
        <p class="p-contact"> <i class="fa-solid fa-envelope"></i> menu@example.com </p>
      </section>

      <div class="box_input">
        <div class="input-container">
          <input type="email" id="input-b" required="">
          <label for="input" class="label">Email</label>
          <div class="underline"></div>
        </div>

        <div class="input-container">
          <label for="exampleFormControlTextarea1" class="form-label">Message</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <button class="btn-contact">
          ENVOYER
        </button>
      </div>
    </div>
  </body>
</html>