<% content_for :title, "Nous contacter" %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="d-flex justify-content-center my-4">
      <div class="box_orange justify-content-around align-items-center flex-wrap p-2">
        <div class="">
          <h1 class="h1-contact"> NOUS CONTACTER </h1>
          <p class="p-contact"> Vous avez une question ?</p>
          <p class="p-contact"> Vous trouverez toutes nos informations de contact ci-dessous !</p>
          <p class="p-contact"> Sinon, veuillez compléter le formulaire.</p>
          <p class="p-contact"> <i class="fa-regular fa-building"></i> Adresse fictive </p>
          <p class="p-contact"> <i class="fa-solid fa-phone"></i> +33 4 95 27 19 07 </p>
          <p class="p-contact"> <i class="fa-solid fa-envelope"></i> menu@example.com </p>
        </div>
      
        <div class="contact-form d-flex flex-column justify-content-center align-items-center p-4">
          <span class="heading">Contact Us</span>
            <form class="contact-foorm">
              <label for="email", class="p-contact2">Email</label>
              <input type="email" id="email" name="email" required="">
              <label for="message", class="p-contact2">Message</label>
              <textarea id="message" name="message" required=""></textarea>
              <button type="submit">Submit</button>
            </form>
        </div>
      </div>
    </div>

    <div class="btt">
      <a href="#">
        <button class="button-btt">
          <svg class="svgIcon" viewBox="0 0 384 512">
            <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"></path>
          </svg>
        </button>
      </a>
    </div>
  </body>
</html>