<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="box_orange">
      <section class="left_bloc">
        <h1 class="h1-contact"> Get in touch </h1>
        <p class="p-contact"> Do you have a question or request ?</p>
        <p class="p-contact"> You will find all our contact details just below !</p>
        <p class="p-contact"> Otherwise please complete the form on the right </p>
        <p class="p-contact"> <i class="fa-regular fa-building"></i> Adresse fictive </p>
        <p class="p-contact"> <i class="fa-solid fa-phone"></i> +33 4 95 27 19 07 </p>
        <p class="p-contact"> <i class="fa-solid fa-envelope"></i> menu@example.com </p>
      </section>

      <div class="box_input">
        <div class="input-container">
          <input type="text" id="input" required="">
          <label for="input" class="label">First name</label>
          <div class="underline"></div>
        </div>

        <div class="input-container">
          <input type="text" id="input" required="">
          <label for="input" class="label">Last name</label>
          <div class="underline"></div>
        </div>

        <div class="input-container">
          <input type="email" id="input-b" required="">
          <label for="input" class="label">Email</label>
          <div class="underline"></div>
        </div>

        <div class="input-container">
          <label for="exampleFormControlTextarea1" class="form-label">Message</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <button class="btn-contact">
          SUBMIT
        </button>
      </div>
    </div>
  </body>
</html>