<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <section class="hero-index">
      <div class="container my-5">
        <div class="row">
          <div class="col-lg-6">
            <%= image_tag "img hero 1.png", class: "shadow" %>
          </div>
          <div class="col-lg-6">
            <div class="p-5 text-hero">
                <p class="lead"> IL N'A JAMAIS ÉTÉ </p>
                <p class="lead-easier"> AUSSI FACILE </p>
                <p class="lead"> DE SAVOIR </p>
                <p class="lead"> CE QUE VOUS ALLEZ </p>
                <p class="lead-eat"> MANGER </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="cities">
      <div class="container my-5">
        <div class="row">
          <div class="col-lg-6 text-cities">
            <div class="p-5 mt-4">
              <p class="lead"> NOUS SOMMES DÉJÀ PRÉSENTS </p>
              <p class="lead-cities"> DANS CES TROIS VILLES ... </p>
              <p class="lead"> ET BIENTÔT PLUS </p>
              <p class="lead-come"> À VENIR  </p>
            </div>
          </div>
          <div class="col-lg-6">
            <%= image_tag "cities.png" %>
          </div>
        </div>
      </div>
    </section>

    <section class="avis">
      <div>
        <h1 class="expe"> ILS NOUS FONT CONFIANCE </h1>
      </div>

    </section>
  </body>
</html>
