<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <section class="hero-index">
      <div class="container my-5">
        <div class="row">
          <div class="col-lg-6">
            <%= image_tag "img hero 1.png", class: "shadow" %>
          </div>
          <div class="col-lg-6">
            <div class="p-5 text-hero">
                <p class="lead"> IT HAS NEVER BEEN </p>
                <p class="lead-easier"> EASIER </p>
                <p class="lead"> TO FIND WHAT YOU </p>
                <p class="lead"> ARE GOING TO </p>
                <p class="lead-eat"> EAT </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="cities">
      <div class="container my-5">
        <div class="row">
          <div class="col-lg-6 text-cities">
            <div class="p-5 mt-4">
              <p class="lead"> WE ALREADY EXIST </p>
              <p class="lead-cities"> IN THREE CITIES... </p>
              <p class="lead"> AND MANY MORE TO </p>
              <p class="lead-come"> COME </p>
            </div>
          </div>
          <div class="col-lg-6">
            <%= image_tag "cities.png" %>
          </div>
        </div>
      </div>
    </section>

    <section class="avis">
      <div>
        <h1 class="expe"> USERS EXPERIENCE </h1>
      </div>

    </section>
  </body>
</html>
