<% content_for :title, "Home" %>

<section class="hero-index">
  <div class="container my-5">
    <div class="row">
      <div class="col-lg-6">
        <%= image_tag "img hero 1.png", class: "shadow", alt: "Photo d'accueil" %>
      </div>
      <div class="col-lg-6">
        <div class="p-5 text-hero">
            <p class="lead"> IL N'A JAMAIS ÉTÉ AUSSI </p>
            <p class="lead-easier"> FACILE </p>
            <p class="lead"> DE TROUVER  </p>
            <p class="lead"> CE QUE VOUS ALLEZ </p>
            <p class="lead-eat"> MANGER </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cities">
  <div class="container my-5">
    <div class="row">
      <div class="col-lg-6 text-cities">
        <div class="p-5 mt-4">
          <p class="lead"> NOUS EXISTONS DÉJÀ </p>
          <p class="lead-cities"> DANS TROIS VILLES... </p>
          <p class="lead"> ET DANS BIEN D'AUTRES </p>
          <p class="lead-come"> À VENIR </p>
        </div>
      </div>
      <div class="col-lg-6">
        <%= image_tag "cities.png", alt: "Photo des trois villes" %>
      </div>
    </div>
  </div>
</section>

<div class="btt">
  <a href="#">
    <button class="button-btt">
      <svg class="svgIcon" viewBox="0 0 384 512">
        <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"></path>
      </svg>
    </button>
  </a>
</div>