<section class="hero-index">
  <div class="container my-5">
    <div class="row">
      <div class="col-lg-6">
        <%= image_tag "img hero 1.png", class: "shadow", alt: "Photo d'accueil" %>
      </div>
      <div class="col-lg-6">
        <div class="p-5 text-hero">
            <p class="lead"> IL N'A JAMAIS ÉTÉ AUSSI </p>
            <p class="lead-easier"> FACILE </p>
            <p class="lead"> DE TROUVER  </p>
            <p class="lead"> CE QUE VOUS ALLEZ </p>
            <p class="lead-eat"> MANGER </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cities">
  <div class="container my-5">
    <div class="row">
      <div class="col-lg-6 text-cities">
        <div class="p-5 mt-4">
          <p class="lead"> NOUS EXISTONS DÉJÀ </p>
          <p class="lead-cities"> DANS TROIS VILLES... </p>
          <p class="lead"> ET DANS BIEN D'AUTRES </p>
          <p class="lead-come"> À VENIR </p>
        </div>
      </div>
      <div class="col-lg-6">
        <%= image_tag "cities.png", alt: "Photo des trois villes" %>
      </div>
    </div>
  </div>
</section>