<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="container-team">
      <div class="h1-team">
        <h1 class="h1-team"> OUR TEAM </h1>
      </div>
      <div class="row-team">
        <div class="col-md-3">
          <div class="rounded-image" id="">
            <%= image_tag "Anelise.png", class: "card-img-top", alt: "" %>
            <p class="p-team">Anelise</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="rounded-image">
            <%= image_tag "", class: "card-img-top", alt: "" %>
            <p class="p-team">Bénedicte</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="rounded-image">
            <%= image_tag "Nicolas V.png", class: "card-img-top", alt: "" %>
            <p class="p-team">Nicolas V.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="rounded-image">
            <%= image_tag "", class: "card-img-top", alt: "" %>
            <p class="p-team">Nicolas B.</p>
          </div>
        </div>
      </div>
    </div>



  </body>
</html>