<div class="profile-page">
  <h1> WELCOME TO YOUR PROFILE </h1>
  <p> PHOTO AVATAR ADMIN </p>

<br>

  <div class="input-container">
    <input type="text" id="input" required="">
    <label for="input" class="label">First name</label>
    <div class="underline"></div>
  </div>

  <div class="input-container" >
    <input type="text" id="input" required="">
    <label for="input" class="label">Last name</label>
    <div class="underline"></div>
  </div>

  <div class="input-container">
    <input type="text" id="input" required="">
    <label for="input" class="label">City</label>
    <div class="underline"></div>
  </div>

  <div class="input-container">
    <input type="text" id="input" required="">
    <label for="input" class="label">Email</label>
    <div class="underline"></div>
  </div>

  <%= link_to 'Edit profile', class:"btn btn-outline-warning" %> <br>


  <h1>Your reservations</h1>
  <h1>Your favorites restaurants</h1>
  
</div>
