<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1> Salut, voici ta réservation chez ? </h1>
    <p>
      Tu a réservé pour X personnes, le ? à ? %> 
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>
    </p>
    <p> À très vite sur monsite.fr ! </p>
  </body>
</html>