<div class="col-sm-12 col-12 col-md-4">
      <a href="<%= new_restaurant_path %>" class="card-clic">
        <div class="card border-secondary mb-4 card-index">
          <div class="card-body">
            <i class="far fa-plus-square text-center mt-3 mr-2 card-img-top" style="font-size: 100px; color: black"></i>
            <h4 class="card-title"> </h4>
            <p class="card-text"> </p>
            <p class="card-text"> </p>
          </div>
          <div class="card-footer text-center">
            <%= link_to "ADD MY RESTAURANT", new_restaurant_path, class:"btn btn-success-dark mx-1 my-1" %>
          </div>
        </div>
      </a>
    </div>
