<div class="container">
  <header class="d-flex justify-content-between py-3">
    <ul class="nav">
      <li class="nav-item"><%= link_to "RESTAURANTS", "#", class: "navnav nav-link navbar-text navbar-text-lg" %></li>
    </ul>
   
    <ul class="nav">
      <li class="nav-item">
        <%= link_to image_tag("LOGO_2.png", alt: "Logo", class: "navnav navbar-brand img-fluid logo-img"), root_path, class: "nav-link" %>
      </li>
    </ul>
    <ul class="nav">
      <li class="nav-item"><%= link_to "LOG IN", new_user_session_path , class: "navnav nav-link navbar-text navbar-text-lg" %></li>
    </ul>
  </header>
</div>
