
<h1 class="h1-resto">WHERE DO YOU WANNA EAT TODAY ?</h1>
<p class="p-resto"> Come and discover your favorites restaurants updated menus ! Thanks to Menu, you will know what is going on in the kitchen !</p>

<div class="row-resto">
  <% @restaurants.each do |restaurant| %>
    <div class="col-index-resto">
      <div class="card-resto">
        <div class="first-content">
          <h2 class="resto-title"><%= restaurant.restaurant_name %></h2>
        </div>
        <div class="second-content">
          <%= link_to restaurant do %>
            <%= image_tag "Aca2.jpeg", class: "card-restoo-img-top", alt: "Restaurant Image" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>