
<h1 class="h1-resto">QU'EST CE QU'ON MANGE AUJOURD'HUI ?</h1>
<p class="p-resto">Grâce à Menu, Vous saurez toujours ce qu'il se prépare en cuisine !</p>

<div class="row-resto">
  <% @restaurant.each do |restaurant| %>
    <div class="col-index-resto">
      <div class="card-resto">
        <div class="first-content">
          <h2 class="resto-title"><%= restaurant.restaurant_name %></h2>
        </div>
        <div class="second-content">
          <%= link_to restaurant do %>
            <%= image_tag "Aca2.jpeg", class: "card-restoo-img-top", alt: "Restaurant Image" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>