<h1 class="h1-resto"><%= @restaurant.restaurant_name %></h1>

<div class="card-show">
  <%= link_to "javascript:void(0)", class: "image-container" do %>
    <%= image_tag "CardRest1.webp", class: "card-resto-img thumbnail", alt: "Restaurant Image" %>
  <% end %>
</div>


<div class="card-describe">
    <div class="infos">
      <p class="date-time">
        CHEZ ACÀ PIGALLE
      </p>
      <p class="description">
       Bienvenue chez "Casa de Sabor" ! Plongez dans une expérience culinaire authentique où les saveurs du Mexique vous transportent instantanément. 
       Dégustez nos délicieux tacos, enchiladas et fajitas, 
       accompagnés de margaritas rafraîchissantes. Notre ambiance vibrante et nos plats savoureux vous promettent une soirée inoubliable.
       Venez découvrir la vraie essence du Mexique chez nous !
      </p>
  </div>

  <div class="author">
    — L équipe du Restaurant
  </div>
 </div>

 <button type="button" class="btnnn btnnn-primary btnnn-lg">BOOK TABLE</button>




 <script src="show_restau.js"></script>