

body {
  background-color: #fac4af21;
  font-family: "Raleway", sans-serif;
}

a {
  color: #FF7E33;
  text-decoration: none;
}

/* START HERO */
.lead {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  color: #522A00;
}

.lead-easier {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 750;
  color: #522A00;
}

.lead-eat {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  color: #FF7E33;
}

.lead-cities {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 750;
  color: #522A00;
}

.lead-come {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  color: #FF7E33;
}

.shadow {
  height: 105%;
  width: 60%;
}

.cities {
  margin-top: 15%;
}

.text-hero {
  margin-top: 10%;
}

.text-cities {
  margin-top: 12%;
}

.avis {
  margin-top: 15%;
}

.expe {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  color: #522A00;
  display: flex;
  justify-content: center;
}
/* END HERO */


/* START PAGE TEAM */
.container-team {
  width: 100%; 
  text-align: center;
}

.h1-team {
  font-family: "Expletus Sans", sans-serif;
  color: #522A00;
  margin-top: 5%;
}

.rounded-image {
  display: inline-block; 
}

.rounded-image:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.rounded-image img {
  border-radius: 50%;
  margin: auto;
}

.row-team {
  display: flex;
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 15%;
}

.p-team {
  font-family: "Raleway", sans-serif;
  color: #522A00;
  margin-top: 5%;
}

.fa-instagram {
  color: #FF7E33;
}

.fa-facebook {
  color: #FF7E33;
}

.fa-whatsapp {
  color: #FF7E33;
}

a {
  text-decoration: none;
}
/* END PAGE TEAM */



/* START NAVBAR */
.logo-img {
  height: 200px; 
}

.navbar-text-lg {
  font-size: 30px; 
  font-family: "Raleway", sans-serif;
  color: #522A00;
}

.navnav:hover {
  background-color: initial !important;
  color: inherit !important;
 }

/* END NAVBAR */



/* FOOTER */

.middle-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-middle {
  display: flex;
  justify-content: center;
}

.logo-section {
  display: flex;
  justify-content: center;
}