

body {
  background-color: #fac4af21;
}

/* START HERO */
.lead {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  color: #522A00;
}

.lead-easier {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 750;
  color: #522A00;
}

.lead-eat {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  color: #FF7E33;
}

.lead-cities {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 750;
  color: #522A00;
}

.lead-come {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  color: #FF7E33;
}

.shadow {
  height: 105%;
  width: 60%;
}

.cities {
  margin-top: 15%;
}

.text-hero {
  margin-top: 10%;
}

.text-cities {
  margin-top: 12%;
}

.avis {
  margin-top: 15%;
}

.expe {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  color: #522A00;
  display: flex;
  justify-content: center;
}
/* END HERO */



/* NAVBAR */


.logo-img {
  height: 200px; 
}


.navbar-text-lg {
  font-size: 30px; 
  font-family: "Raleway", sans-serif;
  color: #522A00;
  position: relative;
  top: 60px; 
  }

.navnav:hover {
  background-color: initial !important;
  color: inherit !important;
 }


