body {
  background-color: #fac4af21;
  font-family: "Raleway", sans-serif;
  width: 100%;
}

a {
  color: #FF7E33;
  text-decoration: none;
}

@font-face {
  font-family: "OpenDyslexic";
  src: url('/assets/OpenDyslexicAlta-Regular.otf');
} 

body.opendys, h1.opendys {
  font-family: 'OpenDyslexic';
}

h1 {
  font-family: "Expletus Sans", sans-serif;
  color: #522A00;
}


/* START HERO */
.lead {
  font-size: 40px;
  color: #522A00;
}

.lead-easier {
  font-size: 40px;
  font-weight: 750;
  color: #522A00;
}

.lead-eat {
  font-size: 40px;
  color: #FF7E33;
}

.lead-cities {
  font-size: 40px;
  font-weight: 750;
  color: #522A00;
}

.lead-come {
  font-size: 40px;
  color: #FF7E33;
}

.shadow {
  height: 105%;
  width: 60%;
}

.cities {
  margin-top: 15%;
}

.text-hero {
  margin-top: 10%;
}

.text-cities {
  margin-top: 12%;
}

.avis {
  margin-top: 15%;
}

.expe {
  font-size: 40px;
  color: #522A00;
  display: flex;
  justify-content: center;
}
/* END HERO */


/* START PAGE TEAM */
.container-team {
  width: 100%; 
  text-align: center;
}

.h1-team {
  color: #522A00;
  margin-top: 5%;
}

.rounded-image {
  display: inline-block; 
}

.rounded-image:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.rounded-image img {
  border-radius: 50%;
  margin: auto;
}

.row-team {
  display: flex;
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 15%;
}

.p-team {
  color: #522A00;
  margin-top: 5%;
}

.fa-instagram {
  color: #FF7E33;
}

.fa-facebook {
  color: #FF7E33;
}

.fa-whatsapp {
  color: #FF7E33;
}

a {
  text-decoration: none;
}
/* END PAGE TEAM */


/* START NAVBAR */
.logo-img {
  height: 200px;
  position: relative;
  right: 10px;
}

.navbar-text-lg {
  font-size: 30px; 
  color: #522A00;
  position: relative;
  top: 60px;
}

.navbar-text-lg-out {
  font-size: 30px; 
  color: #B92736;
  position: relative;
  top: 60px;
}

.navnav:hover {
  background-color: initial !important;
  color: inherit !important;
 }

.navnav-out:hover {
  background-color: initial !important;
  color: #B92736;
}

/* Dropdown menu */
.dropdown-menu {
  background-color: #fac4af21;
  border-color: #522A00;
}

.nav-item {
  display: flex;
  justify-content: center;
}
/* Fin dropdown menu */

/* END NAVBAR */


/* START PAGE CONCEPT */
.h1-concept {
  color: #522A00;
  margin-top: 5%;
}

.text-card-concept {
  padding-top: 8%;
}

.lead-concept {
  font-size: 20px;
  color: #522A00;
  margin-bottom: 10%;
}

.row-concept {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10%;
}

.card-concept {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.card-inner-concept {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card-concept:hover .card-inner-concept {
  transform: rotateY(180deg);
}

.card-front-concept,
.card-back-concept,
.card-front-concept1,
.card-back-concept1 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front-concept {
  background-color: #FF7E33;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #FF7E33;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-front-concept1 {
  background-color: #fac4af;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #fac4af;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-back-concept {
  background-color: #fac4af;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #fac4af;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}

.card-back-concept1 {
  background-color: #FF7E33;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #FF7E33;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}
/* END PAGE CONCEPT */


/* START FOOTER */
.middle-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle-logo a {
  font-weight: bold;
}

.cta-middle {
  display: flex;
  justify-content: center;
}

.logo-section {
  display: flex;
  justify-content: center;
}

.foot-link {
  color: #522A00;
}

.social-icons {
  display: flex;
  justify-content: center;
  color: #FF7E33;
}

.copyright-p{
  padding: 0;
  width: 100%;
}

.copyright-thp {
  font-size: small;
  color: #522A00;
}


/* END FOOTER */


/* START PAGE CONTACT US */
.box_orange{
  border: 2px solid #FF7E33;
  border-radius: 15px;
  display: flex;
  width: 80%;
  margin: 10%;
  gap: 28%;
}

.box_input {
  width: 40%;
  padding: 20px;
  border: 2px solid #AFDBF5;
  border-radius: 15px;
  margin: 20px;
}

.h1-contact {
  color: #522A00;
  margin-bottom: 10%;
}

.p-contact {
  font-size: 20px;
  color: #522A00;
}

.form-label {
  color: #fac4af;
}

.form-label:hover {
  color: #FF7E33;
}

.fa-building {
  color: #FF7E33;
}

.fa-phone {
  color: #FF7E33;
}

.fa-envelope {
  color: #FF7E33;
}

.input-container {
  position: relative;
  margin: 50px auto;
  width: 200px;
}

.input-container input[type="text"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #fac4af;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container.active .label {
  top: -20px;
  font-size: 16px;
  color: #FF7E33;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #fac4af;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #FF7E33;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #FF7E33;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline,
.input-container input[type="email"]:focus ~ .underline,
.input-container input[type="email"]:valid ~ .underline {
  transform: scaleX(1);
}

.form-control {
  font-size: 20px;
  width: 100%;
  border: 2px solid #fac4af;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.form-control:hover {
  border-color: #FF7E33;
}

.left_bloc{
  margin-top: 10%;
  margin-left: 7%;
}

.btn-contact {
  background-color: #AFDBF5;
  border-color: #AFDBF5;
  color: white; 
  font-size: 15px;
  padding: 10px 30px; 
  border-radius: 15px;
  margin-left: 30%;
}

#input-b {
  border : none;
  background-color: transparent;
}

#input-b:focus {
  outline: none;
}
/* END PAGE CONTACT US */


/* START FORM LOGIN */ 
.coontainer {
  background: transparent;
  border-radius: 20px;
  padding: 30px 40px;
  border: 2px solid #AFDBF5;
  width: 400px; 
  margin: auto;
  margin-top: 5%;
  margin-bottom: 10%;
}

.heading {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #522A00;
  font-size: 30px;
  }

.form {
  margin-top: 20px;
}

.form .input {
  width: 100%;
  background: transparent;
  border: none;
  padding: 15px 20px;
  border-bottom: 1px solid #FF7E33;
  margin-top: 15px;
}

.form .input::-moz-placeholder {
  color: #fac4af;
}

.form .input::placeholder {
  color: #fac4af;
}

.form .input:focus {
  outline: none;
}

.form .forgot-password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.form .forgot-password a {
  font-size: 11px;
  color: #522A00;
  text-decoration: none;
}

.p-log {
  display: flex;
  justify-content: center;
  font-size: 11px;
  color: #522A00;
}

.form .login-button {
  display: block;
  width: 40%;
  background-color: #AFDBF5;
  color: white;
  padding: 10px 30px; 
  margin: 20px auto;
  border-color: #AFDBF5;
  transition: all 0.2s ease-in-out;
  border-radius: 10%;
}

.form .login-button:hover {
  transform: scale(1.03);
}

.agreement {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.agreement a {
  text-decoration: none;
  font-size: 9px;
  font-family: "Raleway", sans-serif;
  color: #522A00;
}
/* END FORM LOGIN */ 


/* START FORM SIGN UP */
.ffield {
  width: 100%;
  background: transparent;
  border: none;
  padding: 15px 20px;
  border-bottom: 1px solid #FF7E33;
  margin-top: 15px;
}

.ffield input {
  border: none; 
  outline: none; 
  background-color: transparent;
}

.input-sign {
  color: #fac4af;
}

.acctions input[type="submit"] {
  display: block;
  width: 40%;
  background-color: #AFDBF5;
  color: white;
  padding: 10px 30px; 
  margin: 20px auto;
  border-color: #AFDBF5;
  transition: all 0.2s ease-in-out;
  border-radius: 10%;
}

.coontainer h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #522A00;
  font-size: 30px;
}

.link-log {
  display: flex;
  justify-content: center;
}
/* END FORM SIGN UP */


/* START FORM PASSWORD */
.actions-pass input[type="submit"] {
  display: block;
  width: 60%;
  background-color: #AFDBF5;
  color: white;
  font-size: 60%;
  padding: 10px 10px; 
  margin: 20px auto;
  border-color: #AFDBF5;
  transition: all 0.2s ease-in-out;
  border-radius: 5%;
}
/* END FORM PASSWORD */


/* START BOUTON DYSLEXIE */ 
#toggle-opendys:hover {
  opacity: 0.2; 
  transform: translateY(-0.1em);
}
/* END BOUTON DYSLEXIE */



/* Cartes Restaurants */


.card-resto:hover {
  border-radius: 25px;
  cursor: pointer;
  transform: scale(1.0);
  box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
  background:transparent;
}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}

.card-resto:hover .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.card-resto:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}
.row-resto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin-left: 50px; 
}

.col-index-resto {
  flex: 0 0 30%; 
  margin-bottom: 50px; 
}



.card-resto-img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(1.3px); 
}
.card-resto {
  position: relative;
  width: 100%;
  max-width: 300px; 
  height: 300px; 
  overflow: hidden; 
  border-radius: 25%;
  border: 2px solid #AFDBF5;
}

.card-restoo-img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.resto-title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 30px;
  z-index: 1;
}

/* Fin cartes Restaurants */


/* START PAGE PROFIL USER */
.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-edit {
  border: solid #FF7E33 1px;
  color: #522A00;
}

.btn-edit:hover {
  background-color: #FF7E33;
}
/* END PAGE PROFIL USER */

/* PAGE SHOW DU RESTO */ 

.card-show {
  cursor: pointer;
  width: 300px;
  height: 350px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  border: 2px solid #AFDBF5;
  transition: all .2s;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  margin-left: 80px; 
  
 }
 .thumbnail {
  width: 200px; 
  cursor: pointer;
}

 .card-show:hover {
  box-shadow: -12px 12px 2px -1px rgba(0, 0, 255, .2);
  transform: scale(1.3); 
 ; 
 }
 .card-show img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
 }
 .en-grand {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%; /* Ajustez la taille maximale de l'image agrandie selon vos préférences */
  max-height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.en-grand img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}




 .card-describe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  max-width: 320px;
  margin-left: 750px; 
  margin-bottom: 200px;
  margin-top: -100px; 
  width: 90%; 
  height: 50%; 
}


.infos {
  margin-top: 1rem;
}

.date-time {
  color: rgba(7, 63, 216, 1);
  font-size: 12px;
  font-weight: 600;
}

.description {
  margin-top: 0.4rem;
  line-height: 1.625;
  color: rgba(107, 114, 128, 1);
}

.author {
  margin-top: 1.3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(107, 114, 128, 1);
}

