body{
  background-color: #fac4af21;
  font-family: "Raleway", sans-serif;
  width: 100%;
}

a {
  color: #FF7E33;
  text-decoration: none;
}

@font-face {
  font-family: "OpenDyslexic";
  src: url('/assets/OpenDyslexicAlta-Regular.otf');
}

h1 {
  font-family: "Expletus Sans", sans-serif;
  color: #522A00;
}

h2 {
  color: #522A00;
}

html {
  width: 100% !important;
  scroll-behavior: smooth;
}

/* START BOUTON BACK TO TOP */
.btt {
display: flex;
justify-content: end;
margin-right: 3%;
}

.button-btt {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fac4af;
  border: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px #f36c01;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: #f36c01;
}

.button-btt:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: #f36c01;
  align-items: center;
}

.button-btt:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button-btt::before {
  position: absolute;
  bottom: -20px;
  content: "Retour en haut";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.button-btt:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}
/* END BOUTON BACK TO TOP */


/* START HERO */
.lead {
  font-size: 250%;
  color: #522A00;
}

.lead-easier {
  font-size: 250%;
  font-weight: 750;
  color: #522A00;
}

.lead-eat {
  font-size: 250%;
  color: #FF7E33;
}

.lead-cities {
  font-size: 250%;
  font-weight: 750;
  color: #522A00;
}

.lead-come {
  font-size: 250%;
  color: #FF7E33;
}

.shadow {
  height: 105%;
  width: 60%;
}

.cities {
  margin-top: 15%;
}

.text-hero {
  margin-top: 10%;
}

.text-cities {
  margin-top: 12%;
}

.avis {
  margin-top: 15%;
}

.expe {
  font-size: 250%;
  color: #522A00;
  display: flex;
  justify-content: center;
}
/* END HERO */


/* START PAGE TEAM */
.container-team {
  width: 100%; 
  text-align: center;
}

.h1-team {
  color: #522A00;
  margin-top: 5%;
}

.rounded-image {
  display: inline-block; 
}

.rounded-image:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.rounded-image img {
  border-radius: 50%;
  margin: auto;
}

.row-team {
  display: flex;
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 15%;
}

.p-team {
  color: #522A00;
  margin-top: 5%;
}

.fa-instagram {
  color: #FF7E33;
}

.fa-facebook {
  color: #FF7E33;
}

.fa-whatsapp {
  color: #FF7E33;
}
/* END PAGE TEAM */


/* START NAVBAR */
.logo-img {
  height: 100%;
  position: relative;
  right: 5%;
  bottom: 30%;
}

.navbar-text-lg {
  font-size: 200%; 
  color: #522A00;
  position: relative;
  top: 8%;
}

.navbar-text-lg-out {
  font-size: 200%; 
  color: #B92736;
  position: relative;
  top: 10px;
}

.navnav:hover {
  background-color: initial !important;
  color: inherit !important;
 }

.navnav-out:hover {
  background-color: initial !important;
  color: #B92736;
}
@media (max-width: 768px) {
  .navnav-out.navbar-text {
    font-size: 14px; /* Ajuster la taille du texte pour les boutons */
  }
  .navnav.navbar-text {
    font-size: 14px; /* Ajuster la taille du texte pour les liens */
  }
}

/* Start dropdown menu */
.dropdown-menu {
  background-color: #fac4af21;
  border-color: #522A00;
}

.nav-item {
  display: flex;
  justify-content: center;
}
/* End dropdown menu */
/* END NAVBAR */


/* START PAGE CONCEPT */
.h1-concept {
  margin-top: 5%;
}

.text-card-concept {
  padding-top: 8%;
}

.lead-concept {
  font-size: 150%;
  color: #522A00;
  margin-bottom: 10%;
}

.row-concept {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10%;
}

.card-concept {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.card-inner-concept {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card-concept:hover .card-inner-concept {
  transform: rotateY(180deg);
}

.card-front-concept,
.card-back-concept,
.card-front-concept1,
.card-back-concept1 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front-concept {
  background-color: #FF7E33;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #FF7E33;
  border-radius: 10px;
  justify-content: center;
  font-size: 150%;
  transform: rotateY(0deg);
}

.card-front-concept1 {
  background-color: #fac4af;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #fac4af;
  border-radius: 10px;
  justify-content: center;
  font-size: 150%;
  transform: rotateY(0deg);
}

.card-back-concept {
  background-color: #fac4af;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #fac4af;
  border-radius: 10px;
  justify-content: center;
  font-size: 150%;
  transform: rotateY(180deg);
}

.card-back-concept1 {
  background-color: #FF7E33;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #FF7E33;
  border-radius: 10px;
  justify-content: center;
  font-size: 150%;
  transform: rotateY(180deg);
}
/* END PAGE CONCEPT */


/* START FOOTER */
.middle-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle-logo a {
  font-weight: bold;
}

.cta-middle {
  display: flex;
  justify-content: center;
}

.logo-section {
  display: flex;
  justify-content: center;
}

.links-to {
  display: flex;
  justify-content: center;
  margin-right: 0;
}

.footer-link {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 33%;
}

.foot-link {
  color: #522A00;
}

.social-icons {
  display: flex;
  justify-content: center;
  color: #FF7E33;
}

.copyright-p{
  padding: 0;
  margin: 0;
}

.copyright-section {
  padding: 0;
}
.copyright-thp {
  font-size: small;
  color: #522A00;
}
/* END FOOTER */


/* START PAGE CONTACT US */
.box_orange{
  display: flex;
  border: 2px solid #FF7E33;
  border-radius: 15px;
  width: 95%;
}

.h1-contact {
  margin-bottom: 10%;
}

.p-contact {
  font-size: 130%;
  color: #522A00;
}

.p-contact2 {
  font-size: 110%;
  color: #522A00;
}

.fa-building {
  color: #FF7E33;
}

.fa-phone {
  color: #FF7E33;
}

.fa-envelope {
  color: #FF7E33;
}

#input-b {
  border : none;
  background-color: transparent;
}

#input-b:focus {
  outline: none;
}

.contact-form {
  background-color: #fac4af30;
  border-radius: 5%;
  border: solid 1px;
  border-color: #FF7E33;
}

.contact-form label {
  color: #522A00;
}

.contact-form .heading {
  font-size: 150%;
  color: #522A00;
  margin-bottom: 10%;
  font-weight: bold;
  display: block;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 10%;
}

.contact-form {
  padding-bottom: 0;
}

textarea {
  resize: none;
  height: 50%;
  width: 100%;
}

.contact-form input, .contact-form textarea {
  padding: 3%;
  border: solid 1px;
  border-color: #FF7E33;
  border-radius: 5px;
  margin-bottom: 10%;
  background-color: transparent;
  color: #522A00;
}

.contact-form input:focus, .contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #FF7E33;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.contact-form button[type="submit"] {
  background-color: #AFDBF5;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5% 10%;
  font-size: 100%;
  cursor: pointer;
}

.contact-form button[type="submit"]:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}

.heading {
  font-family: "Expletus Sans", sans-serif;
}
/* END PAGE CONTACT US */


/* START FORM LOGIN */ 
.coontainer {
  background: transparent;
  border-radius: 20px;
  padding: 30px 40px;
  border: 2px solid #AFDBF5;
  width: 400px; 
  margin: auto;
  margin-top: 5%;
  margin-bottom: 10%;
}

.form {
  margin-top: 20px;
}

.form .input {
  width: 100%;
  background: transparent;
  border: none;
  padding: 15px 20px;
  border-bottom: 1px solid #FF7E33;
  margin-top: 15px;
}

.form .input::-moz-placeholder {
  color: #fac4af;
}

.form .input::placeholder {
  color: #fac4af;
}

.form .input:focus {
  outline: none;
}

.form .forgot-password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.form .forgot-password a {
  font-size: 11px;
  color: #522A00;
  text-decoration: none;
}

.p-log {
  display: flex;
  justify-content: center;
  font-size: 11px;
  color: #522A00;
}

.form .login-button {
  display: block;
  width: 40%;
  background-color: #AFDBF5;
  color: white;
  padding: 10px 30px; 
  margin: 20px auto;
  border-color: #AFDBF5;
  transition: all 0.2s ease-in-out;
  border-radius: 10%;
}

.form .login-button:hover {
  transform: scale(1.03);
}

.agreement {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.agreement a {
  text-decoration: none;
  font-size: 9px;

  color: #522A00;
}
/* END FORM LOGIN */ 


/* START FORM SIGN UP */
.h2-sign {
  display: flex;
  justify-content: center;
}

.ffield {
  width: 100%;
  background: transparent;
  border: none;
  padding: 15px 20px;
  border-bottom: 1px solid #FF7E33;
  margin-top: 15px;
}

.ffield input {
  border: none; 
  outline: none; 
  background-color: transparent;
}

.input-sign {
  color: #fac4af;
}

.acctions input[type="submit"] {
  display: block;
  width: 40%;
  background-color: #AFDBF5;
  color: white;
  padding: 10px 30px; 
  margin: 20px auto;
  border-color: #AFDBF5;
  transition: all 0.2s ease-in-out;
  border-radius: 10%;
}


.link-log {
  display: flex;
  justify-content: center;
}
/* END FORM SIGN UP */


/* START FORM PASSWORD */
.actions-pass input[type="submit"] {
  display: block;
  width: 60%;
  background-color: #AFDBF5;
  color: white;
  font-size: 60%;
  padding: 10px 10px; 
  margin: 20px auto;
  border-color: #AFDBF5;
  transition: all 0.2s ease-in-out;
  border-radius: 5%;
}
/* END FORM PASSWORD */


/* START BOUTON DYSLEXIE */ 
#toggle-opendys {
  display: flex;
  justify-content: end;
  margin-top: 0;
  margin-right: 10%;
}

#toggle-opendys:hover {
  opacity: 0.2; 
  transform: translateY(-0.1em);
}
/* END BOUTON DYSLEXIE */


/* START INDEX RESTAURANTS */
.text-filter {
  color: #522A00;
}

#select-filter {
  border-color: #f36c01;
  background-color: transparent;
}

.row-resto {
  margin-top: 8%;
  margin-bottom: 10%;
}

.project-info {
  padding: 100px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: -50px;
}

.project-title {
  font-weight: 500;
  font-size: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #522A00;
}

.lighter {
  font-size: 0.9em;
  color: #522A00;
  text-align: justify;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  background-color: white;
  width: 300px;
  max-height: 330px;
  border-color: #f36e01;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card-img-resto {
  position: relative;
  top: -20px;
  height: 100px;
  display: flex;
  justify-content: center;
}

.card-img-resto a,
.card-img-resto img {
  height: 150px;
  width: 90%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-imgs {
  transition: all 0.5s;
}

.button-card {
  width: 100%;
  margin-top: 8%;
  background-image: linear-gradient(to right bottom, #f36c01, #f36e01d5, #f36e01a7, #f36e0175, #f36e0123);
  background-size: 200% 200%;
  border: none;
  padding: 4% 8%;
  color: white;
  font-size: 100%;
  font-weight: bold;
  border-radius: 5px;
  transition: transform 0.1s ease-in;
}

.button-card:active {
  transform: translateY(3px);
}

.button-card:hover {
  animation: gradient 0.8s ease-in 1;
}

.h1-resto {
  display: flex;
  justify-content: center;
}

.p-resto {
  display: flex;
  justify-content: center;
  color: #522A00;
}
/* END INDEX RESTAURANTS */


/* START PAGE PROFIL USER */
.box_profil{
  display: flex;
  width: 80%;
  margin: 10%;
}

.profile-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10%;
  max-width: 100%; 
}

.photo-profil {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  overflow: hidden;
  margin: 5% auto; 
  border: 2px solid #fff; 
}

.photo-profil img {
  width: 100%;
  height: auto; 
  display: block; 
}

.input-container-profile input[type="text"] {
  font-size: 100%;
  width: 100%;
  border: none;
  border-bottom: 2px solid #fac4af;
  padding: 2% 0;
  background-color: transparent;
  outline: none;
}

.input-container-profile.active .label-profile {
  top: -50%;
  font-size: 100%;
  color: #FF7E33;
}

.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-edit {
  display: flex;
  justify-content: center;
  border: solid #FF7E33 1px;
  color: #522A00;
  padding: 4% 5%; 
  margin-top: 10%; 
}

.btn-edit:hover {
  background-color: #FF7E33;
  color: #fff;
}

.box_favoris {
  margin-left: 30% ;
  width: 50%;
  padding: 10%;
  border: 2px solid #000000;
}
/* END PAGE PROFIL USER */


/* START PAGE SHOW DU RESTO */
.show-content {
  display: flex;
  margin-top: 5%;
}

.menu-img {
  margin-left: 5%;
  width: 50%;
}

.upload-img {
  margin-top: 5%;
}

.image_tag_upld {
  width: 100%;
}

.btn-del-show {
  background-color: #B92736;
  color: #fff;
  border: none;
}

.btn-del-show:hover {
  background-color: #b92736d0;
  color: #fff;
}

.infos-resto {
  align-content: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 7%;
  padding: 4%;
  background-color: #fff;
  height: 50%;
  width: 50%;
}

.btn-book-show {
  background-color: #AFDBF5;
  color: #fff;
  border: none;
}

.btn-book-show:hover {
  background-color: #afdbf5de;
  color: #fff;
}

.btn-up-show {
  background-color: none;
  color: #522A00;
  border-color: #FF7E33;
}

.btn-up-show:hover {
  background-color: #ff7e33dc;
  color: #fff;
}

.show-comments {
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}
/* END SHOW DU RESTO */ 


/* START EDIT FORM */
.input-container-edit {
  position: relative;
  margin: 15% auto;
  width: 80%;
}

.input-container-edit input[type="text"] {
  font-size: 100%;
  width: 100%;
  border: none;
  border-bottom: 2px solid #fac4af;
  padding: 2% 0;
  background-color: transparent;
  outline: none;
}

.input-container-edit.active .label-edit {
  top: -10%;
  font-size: 100%;
  color: #FF7E33;
}

.input-container-edit .label-edit {
  position: absolute;
  top: 0;
  left: 0;
  color: #fac4af;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container-edit input[type="text"]:focus ~ .label-edit,
.input-container-edit input[type="text"]:valid ~ .label-edit {
  top: -50%;
  font-size: 100%;
  color: #FF7E33;
}

.input-container-edit .underline-edit {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2%;
  width: 100%;
  background-color: #FF7E33;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container-edit input[type="text"]:focus ~ .underline-edit,
.input-container-edit input[type="text"]:valid ~ .underline-edit {
  transform: scaleX(1);
}

.form-control-edit {
  font-size: 100%;
  width: 100%;
  border: 2px solid #fac4af;
  padding: 2% 0;
  background-color: transparent;
  outline: none;
}

.form-control-edit:hover {
  border-color: #FF7E33;
}

.h3-edit {
  display: flex;
  justify-content: center;
  color: #522A00;
  font-family: "Expletus Sans", sans-serif;
  margin-top: 10%;
}

.actions-edit {
  display: flex;
  justify-content: center;
}

.p-edit {
  display: flex;
  justify-content: center;
  color: #522A00;
}

.btn-cancel {
  display: flex;
  justify-content: center;
  border: none;
  color: #fff;
  background-color: #B92736;
  padding: 5%; 
  margin-top: 10%;
}
/* END EDIT FORM */


/* START PAGE PROFIL ADMIN */
.admin-prof {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.ag-courses_item {
  margin: auto;
  overflow: hidden;
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #fac4af;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  color: #121212;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 57px;
  margin-top: 5%;
  overflow: hidden;
  font-weight: bold;
  font-size: 20px;
  color: rgb(255, 255, 255);
  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #fff;
  z-index: 2;
  position: relative;
}

.ag-courses-item_bg {
  height: 130px;
  width: 100px;
  background-color: #f36c01;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* END PROFIL ADMIN */


/* START BUTTON HIDE-SHOW PWD */
.pass_show{
  position: relative
} 

.pass_show .ptxt { 
  position: absolute; 
  top: 50%; 
  right: 10px; 
  z-index: 1; 
  color: #f36c01; 
  margin-top: -10px; 
  cursor: pointer; 
  transition: .3s ease all; 
} 

.pass_show .ptxt:hover{
  color: #333333;
} 
/* END BUTTON HIDE-SHOW PWD */